html {
    background-color: beige
}

body {
    text-align: center;        
}

ul {
    list-style-type: none;
    font-family: monospace;
    font-size: 11pt;
}

ol { 
    list-style-type: none;
    font-family: monospace;
    font-size: 12pt;
}

a {
    color: cadetblue;
}
a:hover {
    color: coral;
}
